
.lt-part{
    height: 80vh;
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    padding-top: 10rem;
}
p{
    padding-left: 5rem;
    padding-right: 5rem;
    font-size:14px;
    color: rgb(0, 0, 0);
}
.abt-icon{
    padding-top: 5rem;
    padding-bottom: 0%;
}
h1, h4{
    font-weight: 800;
}
.lt-part h1{
    font-weight: bolder;
    padding-top:0rem;
    padding-left: 5rem;
    font-weight: 800;
    font-size: 40px;
    font-family: 'coda', sans-serif;
    color: rgb(0, 0, 0);
}

.team{
    height: 100%;
    width:100%;
   
}
.rt-part2{
background-color: rgb(233, 233, 233);

}
.rt-part2 h1{
    padding-top: 7rem !important;
    font-weight: bolder;
    padding-top:0rem;
    padding-left: 5rem;
    font-weight: 800;
    font-size: 40px;
    font-family: 'coda', sans-serif;
    color: rgb(0, 0, 0);
}
.lt-part2{
    background-color: rgb(0, 0, 0);
    height: 60vh;
}
.lt-part2 img{
    height: 100%;
    margin-left: 5rem; ;
}
.col-md-6{
    padding: 0 !important;
}
.abt-hd h1{
    text-align: center;
}
.box{
    height: 15rem;
    border: 1px solid rgb(255, 255, 255);
    padding: 2rem ;
   
    margin-top:2rem;
}
.sym{
    float:right;
}
.sym img{
    width :60px;
    height: 50px !important;
}
.box {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform ease-in-out;
    border:none;
  }
  .box:hover, .box:focus, .box:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px rgb(151, 151, 151);

  }
  .abt-last{
      height:70vh;
      background-color: rgb(233, 233, 233);
  } 
  .design h1 , .design p{
      padding-left: 5rem;
      padding-top: 5rem;
  }
  .design p{
      font-size: 20px;
  }
  .design img{
      height:65%;
      padding-left: 10rem;
  }
  .left-to-right{
      position: relative;
      animation: first 1s  ;
      /* animation-direction: alternate; */
  }

  @keyframes first {
      0% {
          left:800px;
          top:0px;
      }
      100% {
          left:0px;
          top: 0px;

      }
  }
  .right-to-left{
      position: relative;
      animation: second 1s ;
  }
  @keyframes second{
      0%{
          right: 800px;
          top: 0px;
      }
      100%{
          right:0px;
          top: 0px;
      }
  }
