h1{
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size:48px;
}
.center{
    position: absolute;
    margin-top: 15vh;
}
.banner img{
    width:100%
}
.card-margin{
    margin: auto;
    margin-bottom: 20px;
}
.card-img{
    height:80%;
}
.align-center h4 {
   align-items: center;
   margin-left: auto;
   text-align: center;
  
}
.align-center a{
    padding: 5px 5px;
    font-size:18px;
    text-align: center;
    margin-left: 14vh;
}
.cart-btn{
   font-size: 14px !important;
   font-weight: bold !important;
   display: inline-block;
   border-radius:10px;
   align-items: center;
   margin-left: 12vh !important;
}
.no.cart-no{
    background: red !important;
    color : white !important;
    position:absolute !important;
    top:-5px !important;
    left:10px !important;
    margin-right: 5px;
    padding:1px 3px 1px 3px !important;

}